<!-- <p>welcome-admin works!</p> -->
<body>

    <!-- <div class="header">
      <h3>Welcome Admin</h3>
    </div> -->
  
    <div class="admin-welcome">
      <span class="notification-icon" [innerHTML]="bell_icon"(click)="onsave()"></span>
      <span>Welcome, Admin!</span>
    </div>
  
    <div class="content">
      <button class="view-users-button"(click)="onsave2()">View Users</button>
     
    </div>
    <div class="content">
      <button class="view-users-button"(click)="onsave3()">User List Attendance</button>
      
    </div>
    <div class="content1">
      <button class="logout"(click)="onsave1()">Logout</button>
     
    </div>
  
  </body>
