<!-- <p>welcome-admin works!</p> -->
<body>

  <!-- <div class="header">
    <h3>Welcome Admin</h3>
  </div> -->
  <nav>
    <div class="nav-left">
        <!-- <img [src]="image" alt="Logo" class="logo2"> -->
    </div>
    <ul>
      <li><a routerLink="/notification"[innerHTML]="bell_icon"alt="Photo Icon" class="nav-icon"></a></li>
      <li><a  (click)="showNotification()"><img [src]="boy_icon" alt="Photo Icon" class="nav-icon">
        </a></li>
       
      
      
      <!-- <li><a routerLink="/login">Logout</a></li> -->
    </ul>
  </nav>
  <div class="admin-container" id="admin-details">
    
    <p id="adminname">Admin</p>
    <p id="adminemail">admin@gmail.com</p>
    <p id="adminemail">ID: 23456789</p>

    
    <span class="Logout" (click)="onsave1()">Logout</span>
  
  </div>

  <div class="admin-welcome">
    <!-- <span class="notification-icon" [innerHTML]="bell_icon"(click)="onsave()"></span> -->
    <span>Welcome, {{emp_name}}!</span>
  </div>

  <div class="content">
    <button class="view-users-button"(click)="onsave2()">View Employee</button>
   
  </div>
  <div class="content">
    <button class="view-users-button"(click)="onsave3()">Employee List Attendance</button>
    
  </div>
  <div class="content">
    <button class="view-users-button"(click)="onsave4()">Mark attendance</button>
    
  </div>
  <div class="content">
    
    <mat-form-field >
      <mat-label>Employee absence requests</mat-label>
      <mat-select [(ngModel)]="selectedLevel" (selectionChange)="onsave5()">
          <mat-option *ngFor="let employee of employees" [value]="employee.value">{{employee.viewValue}}</mat-option>
          

        </mat-select>
    </mat-form-field>
    
    
  </div>
  
  <!-- <div class="content1">
    <button class="logout"(click)="onsave1()">Logout</button>
   
  </div> -->
  <!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field> -->


</body>
