body {
    max-width: 300px;
    height: 51vh;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }
  .header {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;

  }

  .admin-welcome {
    text-align: center;
    padding: 20px;
  }

  .notification-icon {
    font-size: 24px;
    color: #FF8C00; /* Orange color for notification icon */
    margin-right: 10px;
  }
  .view-users-button {
    background-color: #333; /* Green color for "View Users" button */
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    
  }
  .logout{
    background-color: orangered; /* Green color for "View Users" button */
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    
    

  }

  .content {
    padding: 12px;
    text-align: center;
  }
  .content1 {
    padding: 40px;
    text-align: center;
  }