
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 20px;
}

#container {
    display: flex;
    height: 100vh;
}
h3{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;

}

#left-half {
    flex: 0.2; /* Adjusted to 10% */
    background-color: orange;
    color: #fff;
    padding: 20px;
    /* box-sizing: border-box; */
    /* display: flex; */
    flex-direction: column;
    
    align-items: center;
}

#profile-image {
    width: 45px; 
    height: 45px; 
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 26px;
}

#right-half {
    flex: 0.8; /* Adjusted to 90% */
    padding: 20px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: gray;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
