<!-- <p>face-recognised works!</p> -->
<body>
    <nav>
        <div class="nav-left">
            <img [src]="image" alt="Logo" class="logo2">
        </div>
        
      </nav>
    <div class="login-container">
       
        <h3>Welcome to Astreya!</h3>
        <img [src]="img" alt="Logo" class="logo">
         <h5><I>Face Recognised</I></h5>
         <button type="Upload" (click)="onsave()">Redirect to next page</button>
         <button type="Upload" (click)="onsave1()" >Log In</button>
         
         </div>
         
        
</body>
