/* body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/astreya_background.png");
  background-size: cover;
  height: 100vh;
  margin: 0;
} */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("/assets/astreya_background.png");
  height: 100vh;
}
nav {
  /* background-color: #f0eaea; */
  padding: 15px;
  display: flex;
  gap: 75rem;
 
}
.nav-icon{

  width: 30px;
  height: 32px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 35px;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}


.container {
  border: 2px solid #fff; 
  border-radius: 15px; 
  padding: 40px; 
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

.attendance-status {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
}

.user-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
}

.user-name {
  font-size: 18px;
  color: #fff;
  margin-right: 251px; 
}

.present, .absent {
  padding: 10px;
  border-radius: 4px;
  width: 70px;
  text-align: center;
  color: #fff;
}

.present {
  background-color: #4caf50;
}

.absent {
  background-color: #f44336;
}

.admin-container {
  top: 110px;
   right: 110px;
   background-color: #fff; 
   color: #333; 
   padding: 20px;
   display: none;
   width: 180px;
   position: fixed;
   font-family: Arial, sans-serif;
   border-radius: 10px; /* Rounded corners */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


#adminname, #adminemail {
 margin: 0;
 font-size: 18px;
 margin-bottom: 12px;
 /* font-weight: bold; */
}
.Logout{
  cursor: pointer;
  font-size: 18px;
  align-self: flex-end; 
  font-weight: bold;
  color: black;
  
 }


.close-button {
 cursor: pointer;
 font-size: 18px;
 align-self: flex-end; 
}






