<body>

  <nav>

    <div class="nav-items">
      <div class="heading">
      
    </div>
    </div>

    <div class="nav-items">
      <ul>
        <li><a (click)="showNotification()"><img [src]="boy_icon" alt="Photo Icon" class="nav-icon"></a></li>
        <!-- <li><a routerLink="/login">Logout</a></li> -->
      </ul>
    </div>

  </nav>
  <div class="admin-container" id="admin-details">
    
    <p id="adminname">Admin</p>
    <p id="adminemail">admin@gmail.com</p>
    <p id="adminemail">ID: 23456789</p>

    
    <span class="Logout" (click)="onsave2()">Logout</span>
    <!-- <span class="close-button" (click)="hideNotification()">✖</span> -->
  </div>

  <div><div class="container">
    <div class="attendance-status">
    <h1>Attendance Status</h1></div></div>

    <div class="user-status" *ngFor= "let attendance of attendances">
      <span class="user-name" >
        <a [routerLink]="['/calendar-details', attendance.emp_id]">{{attendance.emp_name}}</a>
      </span>
      <div class="present" >{{attendance.status}}</div>
      
    </div>

    <div class="user-status">
      <span class="user-name">Employee 2</span>
      <div class="absent">Absent</div>
    </div>

    <div class="user-status">
      <span class="user-name">Employee 3</span>
      <div class="present">Present</div>
    </div>

    <div class="user-status">
      <span class="user-name">Employee 4</span>
      <div class="absent">Absent</div>
    </div>

    <div class="user-status">
      <span class="user-name">Employee 5</span>
      <div class="present">Present</div>
    </div>

    

  </div>

</body>
