<!-- <p>add-user works!</p> -->
<!-- <p>face-recognised works!</p> -->
<body>
    <nav>
        <div class="nav-left">
            <!-- <img [src]="image" alt="Logo" class="logo2"> -->
        </div>
        <ul>
          <li><a><img [src]="boy_icon" alt="Photo Icon" class="nav-icon">
            </a></li>
          
          <!-- <li><a >Admin</a></li>
          <li><a routerLink="/login">Logout</a></li> -->
        </ul>
      </nav>
    <div class="login-container">
       
        
        <img [src]="cap_img" alt="Logo" class="logo">
         
         <button type="Upload"(click)="onsave()">Add User to Database</button>
         </div>
         
        
</body>

