/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    /* background-color: #1794e8; */
  }
  
  .split-background {
    /* background: linear-gradient(to right, #c574f3 50%, #ffffff 50%); */
    background-image: url("/assets/astreya_background.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
    /* align-items: center; */

    
  }
  
  .logo-container img {
    width: 100px; 
    height: auto;
    
    
  }
  
  .contact-container {
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    padding: 20px;
    text-align: center;
   
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
  }
  
  
  .contact-info h2 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .contact-info p {
    /* color: #666; */
    margin: 5px 0;
    font-size: 18px;
  
  }
  
  .contact-info .icon {
    font-size: 24px;
    margin-right: 5px;

    
  }
  
  .contact-info a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
  }
  
  .contact-info a:hover {
    color: #1b6ca8;
  }
  
  