<!-- <p>contact works!</p> -->
<body>

    <div class="split-background">
        <div class="logo-background">
        <div class="logo-container">
            <img [src]="logo" alt="Photo Icon" class="nav-icon">
          </div>
        </div>
       
      <div class="contact-container">
        <div class="contact-info">
          <h2>Contact Us</h2>
          <p><i class="icon"[innerHTML]="icon"></i>USA Headquarters
    
            20500 Belshaw Ave Dept EXCA2214
            Carson, CA 90746-3506</p>
            
            
           
                
          <p><i class="icon">&#x2709;</i><a href="https://astreya.com/company/contact/">info@astreya.com</a></p>
          <p><i class="icon">&#x260E;</i>123456789</p>
        </div>
      </div>
    </div>
    
    </body>
