body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("/assets/astreya_background.png");
  height: 100vh;
}
nav {
  /* background-color: #f0eaea; */
  padding: 15px;
  display: flex;
  gap: 75rem;
 
}
.nav-icon{

  width: 30px;
    height: 30px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 35px;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* p{
 color: rgb(181, 180, 180);
} */
.heading{
  color: rgb(181, 180, 180);

}
input[type="date"]{
  width: 400px;
  background:none; 
  outline: none; 
  box-shadow: none !important; 
  border: none; 
  text-decoration-color: aqua;
  color: gray;
  font-size: 15px;
  color-scheme: dark;
}
.line { 
  border-bottom: 2px solid black; 
  margin-top: 8px; 
  width: 58%; 
} 
.container{
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 400px;
  width: 50%;
  height: 50%;
  padding: 20px;
  border-style: none;
}
select{
  /* margin-top: 25px; */
  width: 400px;
  background:none; 
  outline: none; 
  box-shadow: none !important; 
  border: none; 
  text-decoration-color: aqua;
  color: gray;
  font-size: 15px;
}
button{
  height: 30px;
  width: 60px;
  margin-top: 25px;
}

.admin-container {
  top: 110px;
   right: 110px;
   background-color: #fff; 
   color: #333; 
   padding: 18px;
   display: none;
   width: 180px;
   position: fixed;
   font-family: Arial, sans-serif;
   border-radius: 10px; /* Rounded corners */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


#adminname, #adminemail {
 margin: 0;
 font-size: 15px;
 margin-bottom: 12px;
 /* font-weight: bold; */
}
.Logout{
 cursor: pointer;
 font-size: 16px;
 align-self: flex-end; 
 font-weight: bold;
 color: black;
 
}


.close-button {
 cursor: pointer;
 font-size: 18px;
 align-self: flex-end; 
}