<!-- <p>employee-login works!</p> -->
<!-- <p>login works!</p> -->
<body>
    <div class="login-container">
        <img [src]="logo" alt="Logo" class="logo">
        <h3>Login</h3>
       
        <h5>Please Login to your account </h5>
        <form class="Form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" >

            <label for="password">Password:</label>
            <input type="password" id="password"name="password" placeholder="Enter your password" >

            <button type="submit"(click)="onsave()">Login</button>
        </form>
        </div>
</body>

