<!-- <p>attendance-management works!</p> -->
<!-- <p>attendance-management works!</p> -->

<body>
    <nav>
        <div class="nav-left">
            <!-- <img [src]="image" alt="Logo" class="logo2"> -->
        </div>
        <ul>
          <li><a (click)="showadmindetails()"><img [src]="boy_icon" alt="Photo Icon" class="nav-icon">
            </a></li>
          
          
          <li><a routerLink="/login">Logout</a></li>
        </ul>
      </nav>
      <div class="admin_container" id="admin-details">
    
        <p id="adminname">Admin</p>
        <p id="adminemail">admin@gmail.com</p>
        <span class="close-button" (click)="hideNotification()">✖</span>
      </div>

    <div class="admin-container">
        <h1>Attendance Management</h1>

        <form class="attendance-form">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter name" required>

            <label for="id">ID:</label>
            <input type="text" id="id" placeholder="Enter ID" required>

            <label for="status">Status:</label>
            <select id="status">
                <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>

</body>