
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url("/assets/astreya_background.png");
  height: 100vh;
}
nav {
  /* background-color: #f0eaea; */
  padding: 15px;
  display: flex;
  gap: 75rem;
 
}
.nav-icon{

  width: 30px;
    height: 30px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 35px;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 25px;
}

a {
  color: #fff;
  text-decoration: none;
}



.calendar-container {

  /* background-color: #fff; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  min-height: 38.5rem;
  margin: 0;
  text-align: center;
}

.user-info {
  text-align: center;
  margin: 10px 0;
  color:#fff;
}

.calendar {
  display: flex;
  max-width: 600px;
}

.day {
  flex-grow: 1;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.day:hover {
  background-color: #f0f0f0;
}

.present {
  color: #4caf50;
  font-weight: bold;
}

.absent {
  color: #f44336;
  font-weight: bold;
}

h2 {
  color: #fff;
}

.admin-container {
  top: 110px;
   right: 110px;
   background-color: #fff; 
   color: #333; 
   padding: 20px;
   display: none;
   width: 180px;
   position: fixed;
   font-family: Arial, sans-serif;
   border-radius: 10px; /* Rounded corners */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


#adminname, #adminemail {
 margin: 0;
 font-size: 18px;
 margin-bottom: 12px;
 /* font-weight: bold; */
}
.Logout{
  cursor: pointer;
  font-size: 18px;
  align-self: flex-end; 
  font-weight: bold;
  color: black;
  
 }


.close-button {
 cursor: pointer;
 font-size: 18px;
 align-self: flex-end; 
}










