<!-- <p>calendar-details works!</p> -->
<body>
  <nav>
    <div class="nav-left">
        <!-- <img [src]="image" alt="Logo" class="logo2"> -->
     </div>
    <ul>
      <li><a (click)="showNotification()"><img [src]="boy_icon" alt="Photo Icon" class="nav-icon">
        </a></li>
      
      
      <!-- <li><a routerLink="/login">Logout</a></li> -->
    </ul> 
   </nav> 
   <div class="admin-container" id="admin-details">
    
    <p id="adminname">Admin</p>
    <p id="adminemail">admin@gmail.com</p>
    <p id="adminemail">ID: 23456789</p>

    
    <span class="Logout" (click)="onsave2()">Logout</span>
  </div>

    <div class="user-info">
      <h2>Juhi Singh</h2>
    </div>
  
    <div class="calendar">
      <div class="day">
        <span class="day-name">Mon</span><br>
        <span class="attendance present">Present</span>
      </div>
      <div class="day">
        <span class="day-name">Tue</span><br>
        <span class="attendance absent">Absent</span>
      </div>
      <div class="day">
        <span class="day-name">Wed</span><br>
        <span class="attendance present">Present</span>
      </div>
      <div class="day">
        <span class="day-name">Thu</span><br>
        <span class="attendance absent">Absent</span>
      </div>
      <div class="day">
        <span class="day-name">Fri</span><br>
        <span class="attendance present">Present</span>
      </div>
      <div class="day">
        <span class="day-name">Sat</span><br>
        <span class="attendance">----</span>
      </div>
      <div class="day">
        <span class="day-name">Sun</span><br>
        <span class="attendance">----</span>
      </div>
  
      
  
    </div>
  
  </body>
