/* body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
body
{
    background-image: url("/assets/astreya_background.png");
    height: 100%;
    margin: 0;
    background: cover;
}
.login-container {
    
    /* background-color: #fff; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    min-height: 80vh;
    margin: 0;
    text-align: center;
}

.login-container h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 60px;
    margin-top: 110px;
    text-align: center;
    color: #fff;
}

.login-container button {
    background-color: #fdfcfa;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 35%;
    margin-top: 50px;
    font-size: 18px;

}

.login-container button:hover {
    background-color: #ff8001;
}

.logo2
{
    width: 10rem;
}

nav {
  /* background-color: #f0eaea; */
  padding: 15px;
  display: flex;
  gap: 62rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}

li {
  float: left;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}