<body>
    <nav>
        <div class="nav-left">
            <img [src]="image" alt="Logo" class="logo2">
        </div>
        <ul>
          <li><a routerLink="/attendance">Home</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    <div class="login-container">
       
        <h2>WELCOME</h2>
        <!-- <img [src]="image" alt="Logo" class="logo1"> -->
        <h2>Let your attendance be your passport to success</h2>
        
         <button type="Upload" (click)="onsave()">Mark your attendance here</button>
         
         </div>
        
</body>
