<!-- <p>user works!</p> -->

<body>

<div class="container">
    <button class="add-button">Add User</button>
  <table>
    <tr>
      <th class="heading">Users</th>
      <!-- <th>Action</th> -->
    </tr>
    <tr>
      <td>User 1</td>
      <td><button class="edit-button">Edit</button></td>
    </tr>
    <tr>
      <td>User 2</td>
      <td><button class="edit-button">Edit</button></td>
    </tr>
    <tr>
      <td>User 3</td>
      <td><button class="edit-button">Edit</button></td>
    </tr>
    <tr>
      <td>User 4</td>
      <td><button class="edit-button">Edit</button></td>
    </tr>
  </table>
</div>
</body>