.container {
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  /* Styling for the user table */
  table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 20px;
  }
  

  th, td {
    padding: 10px;
    text-align: left;
    
    
  }

  th {
    /* background-color: white; */
    color: black;
    text-decoration: underline;
    font-size: 21px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Styling for the add button */
  .add-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color:white;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    float: right;
    /* margin-bottom: 3px; */
  }

  /* Styling for the edit button in the right corner */
  .edit-button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #ff8c00;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    float: right;
  }