<!-- <p>details works!</p> -->
<body>
    <nav>
        <div class="nav-left">
            <!-- <img [src]="image" alt="Logo" class="logo2"> -->
         </div>
        <ul>
          <li><a (click)="showNotification()"><img [src]="boy_icon" alt="Photo Icon" class="nav-icon">
            </a></li>
          
          
          <!-- <li><a routerLink="/login">Logout</a></li> -->
        </ul> 
       </nav> 
       <div class="admin-container" id="admin-details">
    
        <p id="adminname">Admin</p>
        <p id="adminemail">admin@gmail.com</p>
        <p id="adminemail">ID: 23456789</p>
    
        
        <span class="Logout" (click)="onsave2()">Logout</span>
      </div>
    <div class="user-card">
        <div class="user-icon">
            
            <img [src]="girl_icon" alt="User Icon">
            
        </div>
        <p class="info"><I><span class="name">Hello {{emp_name}}!!</span></I></p>
        
        <div class="user-details">
            
            <p class="info"><span>Name</span> = {{emp_name}}</p>
            <p class="info"><span>Status</span> = <span class="status">{{job}}</span></p>
            <p class="info"><span>Gender</span> = {{gender}}</p>
            <p class="info"><span>ID</span> = {{emp_id}}</p>
            <p class="info"><span>Email</span> = {{email}}</p>
            <button type="submit"(click)="onsave()" class="Logout1">Logout</button>
        </div>
    </div>
</body>
