/* body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/astreya_background.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
  } */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-image: url("/assets/astreya_background.png");
    height: 100vh;
    
  }
  nav {
    /* background-color: #f0eaea; */
    padding: 15px;
    display: flex;
    gap: 79rem;
   
  }
  .nav-icon{
  
    width: 30px;
      height: 32px;
  }
  
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 35px;
    overflow: hidden;
  }
  
  li {
    float: left;
    margin-right: 25px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  
  .container {
    border: 2px solid #fff; 
    border-radius: 15px; 
    padding: 70px; 
    
  }

.user-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 250px;
    
}

.user-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.user-details {
    text-align: center;
}

.info {
    font-size: 16px;
    margin: 5px;
    margin-right: 20px;
    margin-top: 11px;
}

.info span {
    font-weight: bold;
    
}
.name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* color:red; */
}

.status {
    color: #4CAF50; 
}
.user-details button {
    background-color: #ff8001;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 11px 0;
    width: 60px;
    margin-left: 2px;
    margin-top: 10px;
}

.user-details button:hover {
    background-color: #ff8001;
    
    
}

.admin-container {
  top: 110px;
   right: 110px;
   background-color: #fff; 
   color: #333; 
   padding: 20px;
   display: none;
   width: 180px;
   position: fixed;
   font-family: Arial, sans-serif;
   border-radius: 10px; /* Rounded corners */
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


#adminname, #adminemail {
 margin: 0;
 font-size: 18px;
 margin-bottom: 12px;
 /* font-weight: bold; */
}
.Logout{
  cursor: pointer;
  font-size: 18px;
  align-self: flex-end; 
  font-weight: bold;
  color: black;
  
 }


.close-button {
 cursor: pointer;
 font-size: 18px;
 align-self: flex-end; 
}






