<!-- <p>mark-attendance-form works!</p> -->
<body>

    <div class="form">
        <h2 class="mb-4 text-center">User Information</h2>
        <form>
            <div class="form-group">
                <label for="userId">User ID</label>
                <div class="creative-input">
                    <input type="text" class="form-control" id="userId" placeholder="Enter your user ID">
                </div>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <div class="creative-input">
                    <input type="text" class="form-control" id="username" placeholder="Enter your username">
                </div>
            </div>

            <button type="submit" (click)="onsave()"class="btn btn-primary btn-block">Submit</button>
        </form>
        <button type="button" (click)="onsave1()" class="logout-btn" >Redirect</button>
    </div>
    <!-- <button type="submit" (click)="onsave1()"class="button">Redirect to face recognised</button> -->


</body>

